<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="loggingConfiguration" type="Nerdle.AutoConfig.Section, Nerdle.AutoConfig" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <loggingConfiguration>
    <logFolder>c:\temp</logFolder>
    <logFile>TopshelfSampleService.log</logFile>
  </loggingConfiguration>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.1.1.1" newVersion="4.1.1.1" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
  <!--<system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Sql.ChangeTracking.WindowsService.Wcf.SqlChangeNotificationService">
        <endpoint address="" binding="basicHttpBinding" contract="Sql.ChangeTracking.WindowsService.Wcf.ISqlChangeNotificationService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/Sql.ChangeTracking.WindowsService.Wcf/SqlChangeNotificationService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="Sql.ChangeTracking.WindowsService.Wcf.SqlChangeTrackingWcfService">
        <endpoint address="" binding="basicHttpBinding" contract="Sql.ChangeTracking.WindowsService.Wcf.ISqlChangeTrackingWcfService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/Sql.ChangeTracking.WindowsService.Wcf/SqlChangeTrackingWcfService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>-->
</configuration>